In [100]:
import numpy as np
import pandas as pd
import pickle

with np.load("feature_repo/data/mnist.npz") as data:
#     train_examples = data['x_train']
#     train_labels = data['y_train']
    test_examples = data['x_test'].astype(np.float32)
    test_labels = data['y_test'].astype(np.int32)

print(test_examples.shape, test_labels.shape)

(10000, 28, 28) (10000,)

In [101]:
# dump array to bytes
data = [{'feature': pickle.dumps(test_examples[i]), 'label_id': test_labels[i]} for i in range(len(test_examples))]
data_df = pd.DataFrame(data)
data_df

                                                feature  label_id
0     b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         7
1     b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         2
2     b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         1
3     b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         0
4     b"\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         4
...                                                 ...       ...
9995  b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         2
9996  b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         3
9997  b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         4
9998  b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         5
9999  b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...         6

[10000 rows x 2 columns]

In [102]:
# Creating timestamps for the data
timestamps = pd.date_range(
    end=pd.Timestamp.now(), 
    periods=len(data_df), 
    freq='H').to_frame(name="event_timestamp", index=False)

data_df = pd.concat(objs=[timestamps, data_df], axis=1)
data_df

,event_timestamp,feature,label_id
0,2021-10-22 09:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,7
1,2021-10-22 10:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,2
2,2021-10-22 11:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,1
3,2021-10-22 12:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,0
4,2021-10-22 13:37:41.374757,"b""\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...",4
...,...,...,...
9995,2022-12-12 20:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,2
9996,2022-12-12 21:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,3
9997,2022-12-12 22:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,4
9998,2022-12-12 23:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,5
9999,2022-12-13 00:37:41.374757,b'\x80\x04\x95\xcd\x0c\x00\x00\x00\x00\x00\x00...,6

In [103]:
# Writing our DataFrames to parquet files
data_df.to_parquet(path='feature_repo/data/mnist.parquet')

In [109]:
type(data_df['feature'].iloc[0])

bytes